<div *ngIf="isVisible" class="modal-background">
  <div class="top-nav__block">
    <span class="close-button" (click)="closeModal()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M15 19.92L8.47997 13.4C7.70997 12.63 7.70997 11.37 8.47997 10.6L15 4.07999"
          stroke="#292929"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>

    <h3>Бронирование билета</h3>
  </div>

  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="ticket-main__block">
      <div class="d-flex align-center gap-1">
        <span class="cities-title">{{ fromCity }}</span>
        <span class="dash-block"></span>
        <span class="cities-title">{{ toCity }}</span>
        <span class="dash-block" *ngIf="backRouteCity"></span>
        <span class="cities-title" *ngIf="backRouteCity">{{ backRouteCity }}</span>
      </div>

      <span class="to-payment__title mb-2">{{ selectedDateText }} пассажиры: {{ passengerCount }}
        , {{ travelClassText }}</span>
      <span class="to-payment__title">К оплате</span>
      <div class="ticket-main__block-bottom">
        <span class="amount-title">{{ flight.value.total_price.TJS }} TJS</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M15 19.92L8.47997 13.4C7.70997 12.63 7.70997 11.37 8.47997 10.6L15 4.07999"
            stroke="#fff"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    <div class="contacts-block">
      <p class="block-title">Контакты покупателя</p>

      <div class="inputs-blocks">
        <div class="card-block">
          <div class="card">
            <input
              [(ngModel)]="walletPhone"
              placeholder="Номер телефона"
              class="text-field"
              inputmode="numeric"
              [class.error]="isValidationTriggered && !isValidPhone(walletPhone)"
              type="text"
              minlength="9"
              maxlength="9"
            >
          </div>
          <div class="invalid-field" *ngIf="isValidationTriggered && !isValidPhone(walletPhone)">
            Введите корректный номер телефона (9 цифр)*
          </div>
        </div>

        <div class="card-block">
          <div class="card">
            <input
              [(ngModel)]="email"
              placeholder="Email"
              class="text-field"
              [class.error]="isValidationTriggered && !isValidEmail(email)"
              type="email"
            >
          </div>
          <div class="invalid-field" *ngIf="isValidationTriggered && !isValidEmail(email)">
            Введите корректный email*
          </div>
        </div>
      </div>

      <p class="desc-bottom__text">
        Отправим Вам купленный билет и чек на электронную
        почту. В случае экстренных ситуаций свяжемся по телефону.
      </p>
    </div>

    <div class="passengers-layout">
      <p class="block-title">Пассажиры</p>
      <div *ngFor="let passenger of passengersDataList; let i = index">
        <div
          class="passenger-block card d-flex align-center justify-between"
          (click)="selectPassenger(passenger, i)"
        >
          <div class="d-flex align-center passenger-block__left">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.3333 16C29.3333 23.3638 23.3638 29.3333 16 29.3333C8.63616 29.3333 2.66663 23.3638 2.66663 16C2.66663 8.63616 8.63616 2.66663 16 2.66663C23.3638 2.66663 29.3333 8.63616 29.3333 16ZM20 12C20 14.2091 18.2091 16 16 16C13.7908 16 12 14.2091 12 12C12 9.79082 13.7908 7.99996 16 7.99996C18.2091 7.99996 20 9.79082 20 12ZM15.9999 27.3333C18.3787 27.3333 20.5862 26.6005 22.4092 25.3482C23.2143 24.7952 23.5584 23.7416 23.0903 22.8843C22.1199 21.107 20.1203 20 15.9999 20C11.8795 20 9.87992 21.1069 8.90948 22.8842C8.44135 23.7415 8.78543 24.7951 9.59057 25.3481C11.4135 26.6004 13.6212 27.3333 15.9999 27.3333Z"
                fill="#CBD5E1"
              />
            </svg>

            <div class="d-flex flex-column">
              <div class="d-flex align-center gap-2">
                <p class="ma-0" *ngIf="!formatName(updatedPassengerData)">{{ passenger.count }}</p>
                <small *ngIf="!formatName(updatedPassengerData)">({{ passenger.type }})</small>
                <span *ngIf="formatName(updatedPassengerData)">{{ formatName(updatedPassengerData) }}</span>
              </div>

              <span class="validation-passenger__title" *ngIf="!passenger.isValidPassenger">Заполните данные</span>
              <span
                class="passenger__title"
                *ngIf="passenger.isValidPassenger"
              >
                Пол: {{ transformGender(updatedPassengerData) }} - {{ updatedPassengerData.birthDate }}
              </span>
            </div>
          </div>

          <div class="d-flex align-center passenger-block__right">

            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M6.75 3.06L11.64 7.95C12.2175 8.5275 12.2175 9.4725 11.64 10.05L6.74999 14.94" stroke="#1D2935"
                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="loader-layout" *ngIf="isLoading">
      <div class="loader-block">
        <div class="loader"></div>
      </div>
    </div>

    <div
      class="validation-popup__layout"
      *ngIf="validationPopup && !isPassengerValidForm()"
    >
      <div class="validation-popup__content">
        <span>Заполните данные для все пассажиров</span>
        <button class="close-popup__button" (click)="closeValidationPopup()">OK</button>
      </div>
    </div>

    <button class="btn-primary" (click)="createOrderRequest()">
      Купить билет {{ flight.value.total_price.TJS }} TJS
    </button>
  </div>
</div>
