.tickets-modal__block {
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;

  .tickets-modal__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 27px;

    .arrow-left__button {
      all: unset;
    }

    .directions-title__block {
      display: flex;
      align-items: center;
      gap: 10px;

      .directions-title {
        font-size: 24px;
        font-weight: 500;
      }
    }

    .tickets-list {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 18px 20px;
        box-shadow: 0 4px 13px 0 #2B454E1A;
        border-radius: 16px;

        &-top {
          display: flex;
          justify-content: space-between;

          .amount-money__block {
            display: flex;
            flex-direction: column;
            align-items: end;

            .amount-title {
              font-size: 18px;
              font-weight: 500;
              color: #00B06C;
            }

            small {
              font-size: 10px;
              color: #95A5A6;
            }
          }
        }

        .airplane-icon__block {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 8px;
        }

        .times-block {
          display: flex;
          justify-content: space-between;
          align-items: end;

          &__item {
            font-weight: 500;
            font-size: 14px;
          }

          &__title {
            font-weight: 400;
            font-size: 14px;
          }
        }

        .divider {
          height: 2px;
          background: linear-gradient(to right, #00B06C 20%, transparent 20%, transparent 40%, #00B06C 40%, #00B06C 40%, transparent 40%, transparent 60%, #00B06C 60%);
          background-size: 25px 1px;
          margin: 12px 0;
        }

        &-bottom {
          display: flex;
          justify-content: space-between;

          span {
            color: #95A5A6;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.loader-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #00B06C 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #00B06C);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }

  @keyframes l13 {
    100% {
      transform: rotate(1turn)
    }
  }
}
