.tickets-modal__block {
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  overflow: auto;

  .tickets-modal__content {
    gap: 20px;
    padding: 27px;
    display: flex;
    flex-direction: column;


    .directions-title__block {
      display: flex;
      flex-direction: column;
      gap: 6px;
      background: linear-gradient(90deg, #00B06C 0%, #34D399 100%);
      border-radius: 12px;
      padding: 17px;

      .directions-info__title {
        display: flex;
        align-items: center;
        gap: 4px;

        .directions-title {
          font-size: 17px;
          font-weight: 600;
          color: #fff;
        }

        .dash-block {
          text-align: center;
          width: 10px;
          height: 2px;
          border-radius: 8px;
          background-color: #fff;
        }
      }

      .booking-info__title-passengers {
        display: flex;
        gap: 6px;
        color: #fff;

        span {
          font-size: 17px;
        }
      }
    }

    .tickets-list {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 14px;
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 18px 20px;
        box-shadow: 0 4px 13px 0 #2B454E1A;
        background-color: #fff;
        border-radius: 16px;

        &-top {
          display: flex;
          justify-content: space-between;

          .amount-money__block {
            display: flex;
            flex-direction: column;
            align-items: end;

            .amount-title {
              font-size: 18px;
              font-weight: 500;
              color: #00B06C;
            }

            small {
              font-size: 10px;
              color: #95A5A6;
            }
          }
        }

        .airplane-icon__block {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 8px;
        }

        .times-block {
          display: flex;
          justify-content: space-between;
          align-items: end;

          &__item {
            font-weight: 500;
            font-size: 14px;
          }

          &__title {
            font-weight: 400;
            font-size: 14px;
          }
        }

        .divider {
          height: 2px;
          background: linear-gradient(to right, #00B06C 20%, transparent 20%, transparent 40%, #00B06C 40%, #00B06C 40%, transparent 40%, transparent 60%, #00B06C 60%);
          background-size: 25px 1px;
          margin: 12px 0;
        }

        &-bottom {
          display: flex;
          justify-content: space-between;

          span {
            color: #95A5A6;
            font-size: 14px;
          }
        }
      }
    }

    .main-tickets__block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: 100%;
      overflow: scroll;
    }

    .booking-info__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      padding: 10px 16px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 13px 0 rgba(43, 69, 78, 0.1019607843);

      .booking-info__top {
        display: flex;
        align-items: center;

        &-title {
          font-weight: 400;
        }

        .close-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #acacac;
          border-radius: 50%;
          min-width: 20px;
          min-height: 20px;
        }

        .booking-info__bottom-title {
          color: var(--primary-color);
          font-size: 15px;
        }
      }

      .arrow-left__icon {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
      }
    }
  }

  .top-nav__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
  }
}

.loader-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  position: relative;

  img {
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
    animation: rotate 2s linear infinite;
    width: 200px;
  }

  span {
    position: absolute;
    color: #666F8D;
    font-size: 20px;
    text-align: center;
  }
}

.booking-info__modal-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(44, 44, 44, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .booking-info__modal {
    background-color: #fff;
    border-radius: 20px;
    height: max-content;
    width: 85%;
    text-align: center;

    &-title {
      font-weight: 500;
      font-size: 16px;
      color: #030712;
    }

    &-text {
      color: #666F8D;
      font-size: 14px;
    }
  }
}

.filters-block {
  display: flex;
  gap: 12px;

  .filter-price__button {
    all: unset;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 13px 0 rgba(43, 69, 78, 0.1019607843);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  //.active-filter__price,
  //.active-filter__transfer {
  //  color: #fff;
  //  background-color: #000;
  //
  //  svg {
  //    padding: 1px;
  //    background-color: #fff;
  //    border-radius: 50%;
  //  }
  //}
}

.price-filter__modal-layout,
.transfer-filter__modal-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(44, 44, 44, 0.7);
  display: flex;
  align-items: end;

  .price-filter__modal,
  .transfer-filter__modal {
    left: 0;
    bottom: 0;
    padding: 12px 34px 45px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;

    h1 {
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      margin: 20px 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.sort-by__flight-item,
.sort-by__price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
