<div class="main-block">
  <div class="top-nav__block">
    <span class="close-button" (click)="closeModal()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M15 19.92L8.47997 13.4C7.70997 12.63 7.70997 11.37 8.47997 10.6L15 4.07999"
          stroke="#292929"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>

    <h3 class="top-nav__block-title">Добавить</h3>
  </div>

  <div class="main-content">
    <ul class="inputs-list">
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
          <input
            [(ngModel)]="name"
            placeholder="Имя"
            class="text-field"
            type="text"
          >
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
          <input
            [(ngModel)]="surname"
            placeholder="Фамилия"
            class="text-field"
            type="text"
          >
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
          <span class="date-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.99994 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M16.0001 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3.49994 9.09001H20.4999" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path
              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
              stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"/>
            <path d="M15.6946 13.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M15.6946 16.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 13.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 16.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 13.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 16.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
          </span>
          <input
            type="text"
            placeholder="Дата рождения"
            name="phone"
            class="text-field"
            inputmode="numeric"
            pattern="[0-9]*"
          >
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="selector-block" (click)="toggleGenderDropdown()">
          <span
            *ngIf="!passengerDataList[selectedIndex]?.document_type"
            class="selector-block__title"
          >
          Пол
        </span>
          <span
            class="selected-passport"
            *ngIf="passengerDataList[selectedIndex]?.document_type"
          >
          {{ selectedPassportType }}
        </span>
          <div
            class="dropdown"
            *ngIf="openGenderPassport"
            (click)="$event.stopPropagation()">
            <ul class="gender-list">
              <li
                class="gender-list__item"
                *ngFor="let gender of genders"
                (click)="selectGender(gender.value)"
              >
                {{ gender.text }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <h3>Паспорт</h3>

    <ul class="inputs-list">
      <li class="inputs-list__item">
        <div
          class="selector-block"
          [class.error]=" isValidationTriggered && !passengerDataList[selectedIndex]?.citizenship"
          (click)="toggleDropdown()"
        >
            <span
              *ngIf="!passengerDataList[selectedIndex]?.citizenship"
              class="selector-block__title"
            >
              Гражданство
            </span>
          <span
            class="selected-country"
            *ngIf="passengerDataList[selectedIndex]?.citizenship"
          >
              {{ selectedCountry }}
            </span>
          <div class="dropdown" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
            <ul>
              <li
                *ngFor="let country of countries"
                (click)="selectCountry(country)"
              >
                {{ country.name }}
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="selector-block" (click)="togglePassportDropdown()">
            <span
              *ngIf="!passengerDataList[selectedIndex]?.document_type"
              class="selector-block__title"
            >
              Тип документа
            </span>
          <span
            class="selected-passport"
            *ngIf="passengerDataList[selectedIndex]?.document_type"
          >
              {{ selectedPassportType }}
            </span>
          <div class="dropdown" *ngIf="openDropdownPassport" (click)="$event.stopPropagation()">
            <ul>
              <li
                *ngFor="let passport of passports"
                (click)="selectPassport(passport.name, passport.code)"
              >
                {{ passport.name }}
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
            <span class="date-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.99994 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M16.0001 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3.49994 9.09001H20.4999" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path
              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
              stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"/>
            <path d="M15.6946 13.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M15.6946 16.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 13.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 16.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 13.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 16.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </span>
          <input
            type="text"
            placeholder="Дата выдачи документа"
            name="start-date-document"
            class="text-field"
            inputmode="numeric"
            pattern="[0-9]*"
          >
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
          <input
            type="text"
            placeholder="Серия и номер документа"
            class="text-field"
            name="document-number"
          >
        </div>
      </li>
      <li class="inputs-list__item">
        <div class="inputs-list__item-block">
            <span class="date-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.99994 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M16.0001 2V5" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3.49994 9.09001H20.4999" stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path
              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
              stroke="#666F8D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"/>
            <path d="M15.6946 13.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M15.6946 16.7H15.7036" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 13.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 16.7H12.0043" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 13.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 16.7H8.30342" stroke="#666F8D" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </span>
          <input
            type="text"
            placeholder="Срок действия"
            class="text-field"
            inputmode="numeric"
            name="expiration-date-document"
            pattern="[0-9]*"
          >
        </div>
      </li>
    </ul>

    <button class="save-button btn-primary">Сохранить</button>
  </div>
</div>
