<div class="direction-modal__background" *ngIf="isVisible" (click)="closeModal()">
  <div
    class="direction-modal__content"
    @slideInOut
    (@slideInOut.done)="onAnimationEvent($event)"
    (click)="$event.stopPropagation()"
  >
    <div class="top-actions__block">
      <h2>Откуда</h2>

      <button (click)="closeModal()">
        <svg viewBox="0 0 50 50" fill="#515151" width="20px" height="20px">
          <path
            d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"/>
        </svg>
      </button>
    </div>

    <div class="search-input__block">
      <div class="search-icon__block">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.5 2.75C6.66751 2.75 2.75 6.66751 2.75 11.5C2.75 16.3325 6.66751 20.25 11.5 20.25C16.3325 20.25 20.25 16.3325 20.25 11.5C20.25 6.66751 16.3325 2.75 11.5 2.75ZM1.25 11.5C1.25 5.83908 5.83908 1.25 11.5 1.25C17.1609 1.25 21.75 5.83908 21.75 11.5C21.75 14.0605 20.8111 16.4017 19.2589 18.1982L22.5303 21.4697C22.8232 21.7626 22.8232 22.2374 22.5303 22.5303C22.2374 22.8232 21.7626 22.8232 21.4697 22.5303L18.1982 19.2589C16.4017 20.8111 14.0605 21.75 11.5 21.75C5.83908 21.75 1.25 17.1609 1.25 11.5Z"
                fill="#666F8D"/>
        </svg>
      </div>
      <input
        #searchFromInput
        id="searchFromInput"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Поиск..."t
      >
      <div class="clear-icon__block" *ngIf="searchTerm.length" (click)="resetSearch()">
        <svg viewBox="0 0 50 50" fill="#fff">
          <path
            d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"/>
        </svg>
      </div>
    </div>

    <p class="title-list__directions">Популярные направления</p>
    <ul class="directions-list">
      <li
        *ngFor="let direction of filteredDirections"
        [ngClass]="{'highlight-country': !direction.country}"
        (click)="chooseDirection(direction)"
        class="directions-list__item"
      >
        <div class="cities-airportCode__block">
          <span>{{ direction.city }}</span>
          <span class="countries" *ngIf="direction.country">{{ direction.country || '' }}</span>
        </div>

        <span>{{ direction.airportCode }}</span>
      </li>
    </ul>
  </div>
</div>
