.direction-modal__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #1D293530;
}

.direction-modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 28px;
  margin-top: 80px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: -webkit-fill-available;


  .top-actions__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 18px;
      color: var(--seconday-text-color);
    }

    button {
      all: unset;
      height: 20px;
      cursor: pointer;
    }
  }

  .search-input__block {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
    min-height: 48px;

    input {
      border: none;
      background: none;
      font-size: 16px;
      outline: none;
      width: 100%;
    }

    .search-icon__block {
      width: 40px;
      display: flex;
      align-items: center;
    }

    .clear-icon__block {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #cacaca;
      border-radius: 50%;
      min-width: 22px;
      min-height: 22px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .title-list__directions {
    color: #666F8D;
  }

  .directions-list {
    list-style: none;
    padding: 0 10px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: -webkit-fill-available;
    gap: 26px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cities-airportCode__block {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .countries {
        color: #656565;
      }
    }
  }
}

.highlight-country {
  padding-left: 30px;
  cursor: pointer;
}

.divider-block {
  height: 1px;
  background-color: #e3e3e3;
  margin-bottom: 15px;
}
