<main class="main-page-content">
  <h1 class="main-title">Авиабилеты в Fly.tj</h1>
  <p class="main-subtitle">Направление</p>

  <div class="card">
    <app-custom-input
      type="text"
      placeholder="Откуда"
      value=""
      name="from"
      id="from"
    ></app-custom-input>

    <div class="divider"></div>

    <app-custom-input
      type="text"
      placeholder="Куда"
      value=""
      name="where"
      id="where"
    >
    </app-custom-input>
  </div>
</main>

<router-outlet/>
