body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page-content {
  padding: 28px 32px;
}

.main-title {
  margin-top: 0;
  line-height: 1;
}

.main-subtitle {
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 13px 0 #2B454E1A;
  padding: 20px;
}
