.direction-modal__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
}

.direction-modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 28px;
  margin-top: 80px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: -webkit-fill-available;

  .top-actions__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0 0 0 25px;
      font-size: 18px;
      font-weight: 400;
      color: var(--seconday-text-color);
    }

    button {
      all: unset;
      height: 20px;
      cursor: pointer;
    }

    .clear-input__button {
      color: var(--primary-color);
    }
  }

  .search-input__block {
    background-color: #ecf0f1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    margin-bottom: 25px;

    input {
      border: none;
      background: none;
      font-size: 16px;
      outline: none;
      width: 100%;
    }

    svg {
      fill: #515151;
    }

    .loader-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .directions-list {
    list-style: none;
    padding: 0 10px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: -webkit-fill-available;
    gap: 26px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cities-airportCode__block {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .countries {
        color: #656565;
      }
    }
  }
}

.highlight-country {
  padding-left: 30px;
  cursor: pointer;
}

.divider-block {
  height: 1px;
  background-color: #e3e3e3;
  margin-bottom: 15px;
}
