.modal-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
  display: flex;
  align-items: end;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 28px 28px;
  margin-top: 100px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .passenger-content__block {
    overflow-y: auto;
    padding-right: 10px;

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 700;
      color: var(--seconday-text-color);
    }

    h4 {
      font-size: 18px;
      font-weight: 400;
    }

    .flight-class_title {
      font-weight: 700;
      margin: 0 0 30px;
    }
  }
}

.holder-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.passengers-list__item {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;

  &-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-block {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h4 {
        margin: 0;
      }

      small {
        font-size: 12px;
        color: #95A5A6;
      }
    }

    .right-block {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 18px;
        font-weight: 700;
      }

      button {
        all: unset;
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    }
  }
}

.passengers-class__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 6px;
  margin: 0 0 40px;

  .passengers-class__button {
    background-color: #fff;
    height: 48px;
    border-radius: 16px;
    box-shadow: 0 4px 13px 0 #2B454E1A;
    padding: 12px 18px;
    border: 0.7px solid #ECF0F1;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }

  .passengers-class__button {
    -webkit-tap-highlight-color: transparent;
    color: #000;
  }
}

.choose-class__block {
  display: flex;
  justify-content: center;
  width: 100%;
}
