.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1D293530;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.modal-content {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 28px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: var(--seconday-text-color);
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.holder-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}

.passengers-list__item {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 64px;

  &-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-block {
      display: flex;
      flex-direction: column;

      h4 {
        margin-top: 0;
        margin-bottom: 8px;
      }

      small {
        font-size: 12px;
        color: #95A5A6;
      }
    }

    .right-block {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 18px;
        font-weight: 700;
      }

      button {
        cursor: pointer;
        all: unset;
        height: 24px;
        width: 24px;
      }
    }
  }
}

.passengers-class__item {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 6px;
  margin: 0 0 80px;

  .passengers-class__button {
    background-color: #fff;
    height: 48px;
    border-radius: 16px;
    box-shadow: 0 4px 13px 0 #2B454E1A;
    padding: 12px 18px;
    border: 0.7px solid #ECF0F1;
    font-size: 14px;

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}
