<div class="modal-background" *ngIf="isVisible">
  <div
    class="modal-content"
    @slideInOut
    (@slideInOut.done)="onAnimationEvent($event)"
    (click)="$event.stopPropagation()"
  >
    <div class="top-section d-flex align-center justify-between">
      <button class="arrow-left__button" (click)="closeModal()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M15 19.92L8.48 13.4C7.71 12.63 7.71 11.37 8.48 10.6L15 4.08" stroke="#1D2935" stroke-width="1.5"
                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      <span>{{ passenger.count }}</span>

      <button class="save-button" (click)="savePassengerData()">Сохранить</button>
    </div>

    <h1>{{ passenger.count }}</h1>

    <div class="inputs-blocks">
      <div class="card" >
        <input [(ngModel)]="passengerDataList[selectedIndex].name" type="text" placeholder="Имя">
      </div>
      <div class="card">
        <input [(ngModel)]="passengerDataList[selectedIndex].surname" type="text" placeholder="Фамилия">
      </div>
      <div class="card">
        <input [(ngModel)]="passengerDataList[selectedIndex].middleName" type="text" placeholder="Отчество">
      </div>
      <div class="card citizenship-block" (click)="toggleDropdown()">
        <span *ngIf="!passengerDataList[selectedIndex]?.citizenship" class="selector-country__title">Гражданство</span>
        <span class="selected-country" *ngIf="passengerDataList[selectedIndex]?.citizenship">{{ passengerDataList[selectedIndex].citizenship }}</span>
        <div class="dropdown" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
          <ul>
            <li
              *ngFor="let country of countries"
              (click)="selectCountry(country.name)"
            >
              {{ country.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <span class="gender-main__title">Пол</span>
      <div class="genders-block">
        <div
          class="gender-item active"
          [class.active]="passengerDataList[selectedIndex].gender === 'male'"
          (click)="selectGender('male')"
        >
          Мужской
        </div>
        <div
          class="gender-item"
          [class.active]="passengerDataList[selectedIndex].gender === 'female'"
          (click)="selectGender('female')"
        >
          Женский
        </div>
      </div>
    </div>

    <div class="inputs-blocks">
      <div class="birthday-block">
        <span>Дата рождения</span>
        <div class="datepicker-block">
          <svg (click)="picker.open()" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.99994 2V5" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M16.0001 2V5" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3.49994 9.09003H20.4999" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round" stroke-linejoin="round"/>
            <path
              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
              stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"/>
            <path d="M15.6946 13.7H15.7036" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M15.6946 16.7H15.7036" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 13.7H12.0043" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M11.9954 16.7H12.0043" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 13.7H8.30342" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8.29443 16.7H8.30342" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>

          <input
            matInput
            [(ngModel)]="passengerDataList[selectedIndex].birthDate"
            [matDatepicker]="picker"
            (dateChange)="onDateChange($event)"
          >
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="card citizenship-block" (click)="togglePassportDropdown()">
        <span *ngIf="!passengerDataList[selectedIndex]?.documentType" class="selector-passport__title">Тип документа</span>
        <span class="selected-passport" *ngIf="passengerDataList[selectedIndex]?.documentType">{{ passengerDataList[selectedIndex].documentType }}</span>
        <div class="dropdown" *ngIf="openDropdownPassport" (click)="$event.stopPropagation()">
          <ul>
            <li
              *ngFor="let passport of passports"
              (click)="selectPassport(passport.name)"
            >
              {{ passport.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <input type="text" [(ngModel)]="passengerDataList[selectedIndex].documentNumber" placeholder="Серия и номер документа">
      </div>
    </div>

    <div class="birthday-block">
      <span>Документ годен до</span>
      <div class="datepicker-block">
        <svg (click)="pickerDocumentExpire.open()" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M7.99994 2V5" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M16.0001 2V5" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M3.49994 9.09003H20.4999" stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round"/>
          <path
            d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
            stroke="#00B06C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round"/>
          <path d="M15.6946 13.7H15.7036" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M15.6946 16.7H15.7036" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M11.9954 13.7H12.0043" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M11.9954 16.7H12.0043" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M8.29443 13.7H8.30342" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M8.29443 16.7H8.30342" stroke="#00B06C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>

        <input
          matInput
          [(ngModel)]="passengerDataList[selectedIndex].documentExpireDate"
          [matDatepicker]="pickerDocumentExpire"
          (dateChange)="onDocumentExpireDate($event)"
        >
        <mat-datepicker #pickerDocumentExpire></mat-datepicker>
      </div>
    </div>

  </div>
</div>
