/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #00B06C;
  --seconday-text-color: #1D2935;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}
