.datepicker-modal__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
  display: flex;
  align-items: end;
  z-index: 10;
}

.datepicker-modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 28px 28px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80%;

  .datepicker-content__block {
    overflow-y: auto;
    padding-right: 10px;
  }
}

.holder-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  user-select: none;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .calendar-card {
    background-color: #fff;
    border-bottom: none;
    width: 100%;
  }
}

::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
  box-shadow: none !important;
}

::ng-deep .mat-calendar-body-today {
  border-color: var(--primary-color) !important;
  border: none !important;
}

.search-ticket__block {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.month-display {
  font-size: 1.2rem;
  font-weight: bold;
}

::ng-deep .mat-calendar-body-label {
  display: none;
}

.mat-calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::ng-deep .mat-calendar-range-start {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 10px !important;

  span {
    color: #fff;
  }
}

::ng-deep .mat-calendar-in-range {
  background-color: rgba(76, 175, 80, 0.3) !important;
  color: #fff !important;
  border-radius: 10px !important;
}

::ng-deep .mat-calendar-range-end {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 10px !important;
}

::ng-deep .mat-calendar-body-cell-content {
  border-radius: 10px !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
}

.calendars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.calendar-card {
  width: 300px;
}

