<div *ngIf="isVisible" class="datepicker-modal__background" (click)="closeModal()">
  <div
    class="datepicker-modal__content"
    @slideInOut
    (@slideInOut.done)="onAnimationEvent($event)"
    (click)="$event.stopPropagation()"
  >
    <div class="holder-button">
      <app-icon icon="holder-icon"/>
    </div>

    <div class="datepicker-content__block">
      <h2>Даты поездки</h2>

      <div class="booking-form">
        <div class="date-input-fields">
          <div class="form-fields">
            <div class="input-block">
              <input
                readonly
                placeholder="Туда"
                [value]="startDate | date: 'dd.MM.yy'"
              >
            </div>
            <div *ngIf="startDate" (click)="clearStartDate()" class="clear-button">
              <app-icon icon="clear-date-icon" color="none"/>
            </div>
          </div>

          <div class="form-fields">
            <div class="input-block">
              <input
                readonly
                placeholder="Обратно"
                [value]="endDate | date: 'dd.MM.yy'"
              >
            </div>
            <div *ngIf="endDate" (click)="clearEndDate()" class="clear-button">
              <app-icon icon="clear-date-icon" color="none"/>
            </div>
          </div>
        </div>

        <mat-card class="calendar-card">
          <mat-calendar
            [headerComponent]="calendarHeader"
            [(selected)]="selectedDate"
            [minDate]="minDate"
            [dateClass]="dateClass"
            (selectedChange)="onDateSelected($event)">
          </mat-calendar>
        </mat-card>
      </div>

      <div class="search-ticket__block">
        <button class="btn-primary" (click)="confirmDates()">Выбрать даты</button>
      </div>
    </div>
  </div>
</div>
