.datepicker-modal__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
  display: flex;
  align-items: end;
}

.datepicker-modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 28px 28px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .datepicker-content__block {
    overflow-y: auto;
    padding-right: 10px;

    h2 {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 400;
      color: var(--seconday-text-color);
      text-align: center;
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}

.holder-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .date-input-fields {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
    font-family: "PT Sans", serif;

    mat-form-field {
      width: 45%;

      input {
        font-size: 16px;
        color: #333;
      }

      .mat-form-field-outline {
        border-color: #2ECC71;
      }

      .mat-form-field-label {
        color: #16A085;
      }
    }

    .form-fields {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .input-block {
        display: flex;
        align-items: center;
        height: 44px;
        justify-content: center;
        left: 5px;

        input {
          all: unset;
          width: 100%;
          border-radius: 8px;
          border: 0.7px solid #ECF0F1;
          box-shadow: 0 4px 13px 0 rgba(43, 69, 78, 0.1019607843);
          font-size: 16px;
          height: 100%;
          padding: 0 15px;
        }

        input:focus + label,
        label.active {
          top: 2px;
          left: 6px;
          font-size: 12px;
        }

        label {
          position: absolute;
          top: 10px;
          left: 5px;
          font-size: 16px;
          color: #999;
          pointer-events: none;
          transition: all 0.3s ease;
        }
      }

      .clear-button {
        all: unset;
        cursor: pointer;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 8px;
      }
    }
  }

  .calendar-card {
    background-color: #fff;
    box-shadow: 0 4px 13px 0 rgba(43, 69, 78, 0.1019607843);
    border: 0.7px solid #ecf0f1;
    border-bottom: none;
    width: 100%;
    padding: 18px 10px 10px;
  }
}

::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
  box-shadow: none !important;
}

::ng-deep .mat-calendar-body-today {
  border-color: var(--primary-color) !important;
  border: none !important;
}

.search-ticket__block {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.month-display {
  font-size: 1.2rem;
  font-weight: bold;
}

::ng-deep .mat-calendar-body-label {
  display: none;
}

.mat-calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::ng-deep .mat-calendar-range-start {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 10px !important;

  span {
    color: #fff;
  }
}

::ng-deep .mat-calendar-in-range {
  background-color: rgba(76, 175, 80, 0.3) !important;
  border-radius: 10px !important;
  color: #fff !important;
}

::ng-deep .mat-calendar-range-end {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 10px !important;
}

::ng-deep .mat-calendar-body-cell-content {
  border-radius: 10px !important;
}
